<div class="row">
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="admin/dashboard">Coaches</a>
            </li>

            <li class="list-group-item">
                <a routerLink="admin/dashboard">Players</a>
            </li>

            <li class="list-group-item">
                <a routerLink="admin/dashboard">Schedules</a>
            </li>
        </ul>
    </div>

    <div class="col-10 mt-3">
        This part is under construction...
    </div>
</div>