<table class="table mt-4">
    <thead class="thead-dark">
        <th>Player A</th>
        <th>Rank</th>
        <th>Player B</th>
        <th>Rank</th>
        <th>Court</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Edit</th>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td>{{row.playerAId.firstName}} {{row.playerAId.lastName}}</td>
            <td>{{row.playerARank}}</td>
            <td>{{row.playerBId.firstName}} {{row.playerBId.lastName}}</td>
            <td>{{row.playerBRank}}</td>
            <td>{{row.courtId.name}}</td>
            <td>{{row.startTime | date:'medium'}}</td>
            <td>{{row.endTime | date:'medium'}}</td>
            <td>
                <button class="btn btn-primary" (click)="assignRanks(row._id)">Assign Ranks</button>
            </td>
            <!-- <td>
                <span [routerLink]="['assign-ranks/', row._id]">
                    <button class="btn btn-primary">Assign Ranks</button>
                </span>
            </td> -->
        </tr>
    </tbody>
</table>