<div class="row">
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item">
                <a routerLink="player/dashboard">Attendance</a>
            </li>

            <li class="list-group-item">
                <a routerLink="player/dashboard">Today's Schedule</a>
            </li>

            <li class="list-group-item">
                <a routerLink="player/dashboard">Practice Sessions</a>
            </li>

            <li class="list-group-item">
                <a routerLink="player/dashboard">Matches</a>
            </li>
        </ul>
    </div>

    <div class="col-10 mt-3">
        This part is under construction...
    </div>
</div>