<div class="row">
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item" (click)="changeDisplay('attendance')">Attendance</li>
            <li class="list-group-item" (click)="changeDisplay('schedule')">Today's Schedule </li>
            <li class="list-group-item" (click)="changeDisplay('sessions')">Practice Sessions</li>
            <li class="list-group-item" (click)="changeDisplay('matches')">Matches </li>
        </ul>
    </div>

    <div class="col-10 mt-3">
        <div *ngIf="display == 'sessions'">
            <h2>Practice Sessions</h2>
            <app-player-table [rows]="data"></app-player-table>
        </div>

        <div *ngIf="display == 'matches'">
            <h2>Matches</h2>
            <app-player-table [rows]="data"></app-player-table>
        </div>
        <div *ngIf="display == 'attendance'">
            <h2>Attendance</h2>
            <app-player-table [rows]="data"></app-player-table>
        </div>

        <div *ngIf="display == 'schedule'">
            <h2>Today's Schedule</h2>
            <app-player-table [rows]="data"></app-player-table>
        </div>
    </div>
</div>