<div class="mt-3">
    <h2>Player Dashboard</h2>
    <p>Welcome to PriSports! From here, you can mark your attendance, view your schedule for today and get a practice
        session/match scheduled</p>

    <div class="row">
        <div class="col-6">
            <app-dashboard-card [title]="'Mark Attendance'"
                [text]="'Mark your attendance so that you can pick your preferred games for today'"
                [buttonLink]="'/player/attendance'" [buttonText]="'Mark Attendance'"></app-dashboard-card>
        </div>

        <div class="col-6">
            <app-dashboard-card [title]="'View Schedule'"
                [text]="'View all the matches and practice sessions you have scheduled for today'"
                [buttonLink]="'/player/schedule'" [buttonText]="'View Schedule'"></app-dashboard-card>
        </div>

        <div class="col-6 mt-5">
            <app-dashboard-card [title]="'View Practice Sessions'"
                [text]="'View your past practice sessions and your ranks in them'"
                [buttonLink]="'/player/practiceSessions'" [buttonText]="'View Practice Sessions'"></app-dashboard-card>
        </div>

        <div class="col-6 mt-5">
            <app-dashboard-card [title]="'View Matches'" [text]="'View your past matches and your ranks in them'"
                [buttonLink]="'/player/matches'" [buttonText]="'View Matches'"></app-dashboard-card>
        </div>
    </div>
</div>