<div class="mt-3">
    <h2>Coach Dashboard</h2>
    <p>Here you can assign ranks to the players you coached in various matches and practice sessions</p>

    <div class="card mr-4 bg-light">
        <div class="card-body">
            <h5 class="card-title">Rank Matches</h5>
            <p class="card-text">Rank the performances of the players you've coached in various matches</p>
            <a routerLink="/coach/matches" class="btn btn-primary">Rank Matches</a>
        </div>
    </div>
</div>