<div class="mt-3">
    <h2>Coach Dashboard</h2>
    <p>Here you can assign ranks to the players you coached in various matches and practice sessions</p>

    <div class="row">
        <div class="col">
            <app-dashboard-card [title]="'Rank Matches'"
                [text]="'Rank the performances of the players you\'ve coached in various matches'"
                [buttonLink]="'/coach/matches'" [buttonText]="'Rank Matches'"></app-dashboard-card>
        </div>

        <div class="col">
            <app-dashboard-card [title]="'Rank Practice Sessions'" [text]="'Rank the performances of the players you\'ve coached in various practice
                        sessions'" [buttonLink]="'/coach/practiceSessions'" [buttonText]="'Rank Practice Sessions'">
            </app-dashboard-card>
        </div>
    </div>
</div>