<div class="row">
    <div class="col-2">
        <ul class="list-group">
            <li class="list-group-item" (click)="changeDisplay('sessions')">Practice Sessions</li>
            <li class="list-group-item" (click)="changeDisplay('matches')">Matches </li>
        </ul>
    </div>

    <div class="col-10 mt-3">
        <div *ngIf="display == 'sessions'">
            <h2>Practice Sessions</h2>
            <app-coach-table [rows]="data"></app-coach-table>
        </div>

        <div *ngIf="display == 'matches'">
            <h2>Matches</h2>
            <app-coach-table [rows]="data"></app-coach-table>
        </div>
    </div>
</div>