<div class="mr-4">
    <table class="table mt-4">
        <thead class="thead-dark">
            <th>Opponent</th>
            <th>Coach</th>
            <th>Court</th>
            <th>Start Time</th>
            <th>End Time</th>
        </thead>

        <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row.opponent.firstName}} {{row.opponent.lastName}}</td>
                <td>{{row.coach.firstName}} {{row.coach.lastName}}</td>
                <td>{{row.court.name}}</td>
                <td>{{row.startTime | date:'medium'}}</td>
                <td>{{row.endTime | date:'medium'}}</td>
            </tr>
        </tbody>
    </table>
</div>