<div class="row justify-content-center">
    <div class="col-5">
        <h2 class="text-center my-4">Registration</h2>

        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <h4>Personal Details</h4>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="John"
                            formControlName="firstName" required>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName"
                            placeholder="Doe" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress"
                            placeholder="john.doe@gmail.com" required>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
                            placeholder="03013454128" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password"
                        placeholder="********" required>
                </div>

                <div class="col">
                    <label for="confirmedPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmedPassword"
                        formControlName="confirmedPassword" placeholder="********" required>
                </div>
            </div>

            <h4 class="mt-4">Sports</h4>
            
            <div formArrayName="sports">
                <div *ngFor="let sport of sportForms.controls; let i=index" [formGroupName]="i">

                    <div class="row my-3 mx-2 align-items-center">

                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="sportName">Sport</label>
                                  </div>
                                <select class="custom-select" formControlName="sportName" required>
                                    <option selected>Choose...</option>
                                    <option value="badminton">Badminton</option>
                                    <option value="squash">Squash</option>
                                    <option value="tableTennis">Table Tennis</option>
                                    <option value="tennis">Tennis</option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="sportRank">Rank</label>
                                  </div>
                                <select class="custom-select" formControlName="sportRank" required>
                                    <option selected>Choose...</option>
                                    <option value="beginner">Beginner</option>
                                    <option value="medium">Medium</option>
                                    <option value="advanced">Advanced</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-2 align-self-end">
                            <button class="btn btn-danger" (click)="deleteSport(i)">Delete</button>
                        </div>

                    </div>

                </div>
            </div>
            
            <div class="row justify-content-center">
                <button class="btn btn-success" (click)="addSport()">Add Sport</button>
            </div>

            <button class="btn btn-primary mt-4" type="submit">Submit</button>

            <div class="form-group mt-2">
                <small>Already have an account? <a routerLink="/login">Login here</a></small>
            </div>
        </form>

    </div>
</div>