<div class="modal-header bg-primary text-light">
    <h4 *ngIf="editing == 'players'" class="modal-title" id="modal-basic-title">Edit Player</h4>
    <h4 *ngIf="editing == 'coaches'" class="modal-title" id="modal-basic-title">Edit Coach</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="updateUserForm">
        <div class="form-group row">
            <label class="col-form-label col-4 font-weight-bold" for="firstName">First Name</label>
            <div class="col-7">
                <input class="form-control" type="text" id="firstName" formControlName="firstName">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4 font-weight-bold" for="lastName">Last Name</label>
            <div class="col-7">
                <input class="form-control" type="text" id="lastName" formControlName="lastName">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4 font-weight-bold" for="emailAddress">Email</label>
            <div class="col-7">
                <input class="form-control" type="text" id="emailAddress" formControlName="emailAddress">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-4 font-weight-bold" for="phoneNumber">Phone</label>
            <div class="col-7">
                <input class="form-control" type="text" id="phoneNumber" formControlName="phoneNumber">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer bg-light">
    <button type="button" class="btn btn-primary" (click)="updateUser()">Save</button>
</div>